<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_skin</title>
</head>
<body>
    <section class="Create_skin">
        <h1>Create Skin</h1>
        <form>
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for category="category">Category</label>
                <select>
                    <option value="option1">option1:</option>
                    <option value="option2">option2:</option>
                    <option value="option3">option3:</option>
                </select>
            </div>
            <div>
                <label for="game_name">Game: </label>
                <input type="text" name="game_name" id="game_name">
            </div>
            <div>
                <label for="company_name">Company: </label>
                <input type="text" name="company_name" id="company_name">
            </div>
            <div>
                <label for="image">Photo </label>
                <input type="file" name="image" id="image">
            </div>
        </form>
    </section>
</body>
</html>